
<ul class="nav nav-tabs">
    <li class="active">
        <a href="@Url.Action("MyConfirmed", "Travel")" class="confirmed">Criadas</a>
    </li>
    <li class="">
        <a href="@Url.Action("GuestConfirmed", "Travel")" class="confirmed">Convidadas</a>
    </li>
</ul>

