
<ul class="nav nav-tabs">
    <li class="active">
        <a href="@Url.Action("AllContacts", "Contact")" class="contact">Todos</a>
    </li>
    <li class="">
        <a href="@Url.Action("Requester", "Contact")" class="contact">Solicitações Enviadas</a>
    </li>
    <li class="">
        <a href="@Url.Action("Remittee", "Contact")" class="contact">Solicitações Recebidas</a>
    </li>
</ul>
