@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @*@Scripts.Render("~/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div>
        @RenderBody();
    </div>
</body>
</html>
