
<ul class="nav nav-tabs">
    <li class="active">
        <a href="@Url.Action("MyPendents", "Travel")" class="pendent">Criadas</a>
    </li>
    <li class="">
        <a href="@Url.Action("GuestPendents", "Travel")" class="pendent">Convidadas</a>
    </li>
</ul>
