@*@Url.Action("AllContacts", "Contact")*@
<ul class="nav nav-tabs">
    <li class="active">
        <a href="@Url.Action("PersonalData", "User")" class="profile">Dados Pessoais</a>
    </li>
    <li class="">
        <a href="" class="profile">Dados Bancários</a>
    </li>
    <li class="">
        <a href="" class="profile">Endereço</a>
    </li>
    <li class="">
        <a href="" class="profile">Telefones</a>
    </li>
</ul>

