/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/

.center-custom{
  /*background:red;*/
  position:absolute;
  /*color:#fff;*/
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.color-custom{
    color: #337ab7;
}
.vr{
    border-right:1px solid #000;
}
.expense-travel{
    max-height: 200px;
    overflow-y:auto
}
.horizontal-divider{
    border-top:1px solid #000;
}
.padding-1x{
    padding-bottom: 3px;
}

.gray{
    background-color: gray;
    color: white;
}

.badge-notify{
   background:red;
   position:relative;
   margin-top: -30%;
   left: -20%;
}